
footer {
  height: 60px;
  background-color: rgb(32, 32, 32);
  margin-bottom: 0px;
}

.blanco2 {
  height: 10px;
  background-color: white;
}

.titulo1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 270px;
}

.titulo2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;

}

.titulo3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;


}

.nombre {
  font-family: Barlow, open sans, sans-serif;
  font-weight: 100;
  font-size: 25px;
  color: black;
  text-align: center;
  z-index: 1;

}

.sub {
  font-family: Barlow, gotham HTF, open sans, sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: black;
  text-align: center;

}

.rectangulo {
  background-color: #EE6565;
  width: 220px;
  height: 21px;
  margin-top: -73px;
  z-index: 0;

}

.background {
  margin-top: 60px;
  background-image: url("../images/fondo.png");
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.menu {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 45px;
  z-index: 2;

}

.blanco {
  height: 230px;

}



.cabecera {
  margin: 50px;
}

.h3 {
  font-family: Barlow, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: black;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 100px;
  align-items: center;
  margin: -20px;


}

.lapiz {
  font-size: 30px;
  text-align: center;

}
.descripcion{
  align-items: center;
  justify-content: center;
  margin-inline-start: 37%;
}
.h4 {
  font-family: Barlow, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: black;
  text-align: left;
  align-items: center;


}

.proyecto {
  font-family: Barlow, open sans, sans-serif;
  font-weight: 100;
  font-size: 25px;
  color: black;
  text-align: center;
  z-index: 1;

}

.rectangulo2 {
  background-color: #EE6565;
  width: 220px;
  height: 21px;
  margin-top: -29px;
  z-index: 0;

}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 110px;
  left: 70px;
  right: 70px;
  bottom:87px;
  background: #EE6565;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: black;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.imagen {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 50px;


}

.proyect1 {
  width: 300px;
  height: 225px;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin-top: 70px;
}

.proyectos {
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.titulos3 {
  font-family: Barlow, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: black;
  flex-direction: row;
  justify-content: space-between;
  padding: 99px;
  display: inline;

}



.cuentamealgo {
  text-align: center;

}

.cuenta {
    margin-inline-start: 37%;
    margin-bottom: -10px;
}

.email {
  margin-top: -80px;
}
